.grid {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: center;
}
.container {
    padding: 48px 40px;
}

.title {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    margin-bottom: 20px;
    & h1 {
        font-size: 30px;
        line-height: 30px;
    }
    & > .transaction-test {
        display: flex;
        & > .input-tran {
            font-size: 20px;
            display: flex;
            align-items: center;
            line-height: 20px;
            & input{
                margin-right: 8px;
                width: 16px;
                height: 16px;
            }
            & + .input-tran {
                padding-left: 20px;
            }
        }
    }
}
.name {
    font-size: 18px;
    line-height: 1.33333333;
    font-weight: 500;
    text-align: left;
}
.type {
    font-weight: 400;
    font-size: 15px;
    margin-top: 4px;
    opacity: 0.8;
}
span {
    display: block;
}

.item {
    display: flex;
    justify-content: space-between;
    height: 110px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 8px;
    margin-top: 20px;
    & > .group {
        height: 100%;
        padding: 8px;
        &.info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 30%;
        }
        &.img {
            height: 100%;
            max-width: 20%;
            & img {
                max-width: 100%;
                height: 100%;
            }
        }
        &.status {
            width: 14%;
        }
        &.price {
            width: 8%;
        }
        &.btn {
            width: 5%;
            & > img {
                width: 20px;
                height: 20px;
            }
        }
    }
}
.amount,
.price,
.status,
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.amount {
    width: 10%;
    font-size: 16px;
    & div {
        cursor: pointer;
    }
}

.sub {
    margin-right: 8px;
}
.plus {
    margin-left: 8px;
}
.btn-submit {
    display: flex;
    float: right;
    margin-top: 32px;
    & .btn {
        padding: 8px 32px;
        border-radius: 8px;
        color: white;
        background-color: var(--primary-color);
        border: none;
        font-size: 18px;
    }
}

.content {
    width: 100%;
    & > .cover {
        width: 100%;
        display: flex;
    }
}
.box {
    max-width: 100%;
    width: 100%;
    height: 52px;
    margin-bottom: 16px;
    padding: 0 72px;
    & > .box-cover {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid var(--primary-color);
        border-radius: 20px;
        padding: 8px 20px;
        & > .text {
            font-weight: 600;
        }
        & input {
            border: none;
            outline: none;
        }
    }
}
