.title{
    font-size: 36px;
    line-height: 1.33333333;
    font-weight: 500;
    margin-bottom: 48px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #1c1c1c;
}
.green{
    color: var(--primary-color);
}