.title {
    font-size: 36px;
    line-height: 1.33333333;
    font-weight: 500;
    margin-bottom: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(28, 28, 28);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.type {
    font-weight: 400;
    font-size: 16px;
}
.list-item {
    display: flex;
    flex-wrap: wrap;
    transition: 0.3s all ease-in-out;
    margin-top: 60px;
}
.list {
    position: relative;
    overflow: hidden;
    & span {
        display: flex;
    }
}
.time-open {
    font-weight: 500;
    margin-right: 24px;
}
.open {
    max-height: 99999px;
    transition: 0.3s max-height ease-in-out;
}
.menu {
    margin-top: 32px;
}

.add {
    background-color: var(--primary-color);
    border-radius: 8px;
    padding: 6px 12px;
    min-width: 52px;
    height: 100%;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s linear;
    font-size: 20px;
}
.close {
    width: 24px;
    height: 24px;
    cursor: pointer;
    & img {
        width: 100%;
        height: 100%;
    }
}
.content-wrapper {
    padding: 16px;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.06);
    height: 100%;
    width: 100%;
    z-index: 13;
    background-color: #fff;
}
.separate {
    width: 100%;
    height: 1px;
    background: hsla(0, 0, 0, 0.1);
    margin-top: 29px;
    margin-bottom: 32px;
}

.separate-big {
    width: 100%;
    height: 6px;
    background: hsla(0, 0, 0, 0.1);
    margin-top: 29px;
    margin-bottom: 32px;
}
.footer {
    height: 96px;
    background-color: #fff;
    width: 100%;
}

.footer,
.amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer {
    padding: 16px;
}
.btn-modal {
    width: 100%;
    padding: 0 8px;
    height: 40px;
    & div {
        font-weight: 500;
        background-color: var(--primary-color);
        color: #fff;
        border-radius: 8px;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s all ease;
    }
}

.rating-item {
    display: flex;
    flex-direction: column;
    & span {
        display: flex;
    }
    & strong {
        margin-right: 8px;
    }
}
.text-input {
    width: 100%;
    margin-bottom: 16px;
    & input {
        width: 100%;
        height: 42px;
        outline: none;
        border-radius: 12px;
        padding: 8px 16px;
        border: 1px solid var(--primary-color);
    }
    & .file {
        padding: 0;
        border: none;
        border-radius: 0;
        cursor: pointer;
    }
}
.text {
    display: block;
    font-size: 16px;
    width: 100%;
    line-height: 20px;
    padding-bottom: 12px;
}
