.btn {
    padding: 10px 0;
    border: none;
    background-color: transparent;
    color: var(--primary-color);
}

.headerGroup {
    min-width: 40px;
    border: 1px solid #f0efef;
    background-color: #fff;
    padding: 0 12px;
    border-radius: 4px;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    &:hover {
        color: #fff;
        background-color: #ffc100;
        border-color: transparent;
    }
}

.wrapper {
    cursor: pointer;

    + .wrapper {
        margin-left: 8px;
    }

    &.disable {
        pointer-events: none;
        opacity: 0.5;
    }
}

.seeMore {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    -webkit-appearance: button;
    outline: none;
    line-height: 1.42857143;
    font-weight: 700;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 6px;
    height: 48px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: #676767;
    background-color: #fff;
    border: 1px solid #676767;
    &:hover {
        color: #fff;
        background-color: #ffc100;
        border-color: #fff;
    }
}
.goToTop{
    width: 42px;
    height: 42px;
    background-color: #ffc100;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    & img{
        width: 50%;
        max-height:100%;
    }
}
